'.text.xml':
  'titan list':
    'prefix': 'titan.list'
    'body': """
    <?xml version="1.0" encoding="UTF-8"?>
    <search table="$1">
    	$2
    </search>
    <view table="$3" primary="$4" paginate="$5">
    	$6
    	<icon action="view" image="view.gif" label="Visualizar Dados do Usuário" default="true" />
    	<icon action="edit" image="edit.gif" label="Editar Dados do Usuário" />
    	<icon action="delete" image="delete.gif" label="Apagar Usuário" />
    </view>
    """
